.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-auto-rows: minmax(0, 1fr); /* Allow rows to expand to fill the available space */
}

.book-list-item {
    display: flex;
    margin: 0 4px 4px 0px;
}

.book-list-item > p {
    margin: 0;
}

.book-list img {
    margin-right: 8px;
    height: 75px;
}